<ion-header>
    <ion-toolbar color="light">
        <ion-title>{{ 'HIVE_DATA_HISTORY_TITLE' | translate }}</ion-title>
        <ion-buttons slot="start">
            <ion-back-button text=""></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card no-margin no-padding>
        <ion-card-content>
            <ion-segment (ionChange)="onRangeChange($event)">
                <ion-segment-button size="small" value="7">
                    <ion-label>{{ 'SEGMENT_LABEL_WEEK' | translate }}</ion-label>
                </ion-segment-button>
                <ion-segment-button checked size="small" value="30">
                    <ion-label>{{ 'SEGMENT_LABEL_MONTH_SING' | translate }}</ion-label>
                </ion-segment-button>
                <ion-segment-button size="small" value="90">
                    <ion-label> {{ 'SEGMENT_LABEL_3_MONTHS' | translate }}</ion-label>
                </ion-segment-button>
            </ion-segment>
        </ion-card-content>
    </ion-card>
    <div id="detailsChart"></div>
</ion-content>
