<ion-header>
    <ion-toolbar color="light">
        <ion-title>{{'ACCOUNT_LABEL' | translate}}</ion-title>
        <ion-buttons slot="start">
            <ion-back-button color="primary" defaultHref="/tabs/settings" text=""></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="hive-card" no-margin no-padding>
        <ion-card-content>
            <ion-list>
                <ion-item (click)="logout()">
                    <ion-icon slot="end" name="log-out"></ion-icon>
                    <ion-label> {{'LOGOUT_LABEL'| translate}} </ion-label>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>
