<ion-header>
    <ion-toolbar color="light">
        <ion-title>{{ 'ADD_HIVE_TITLE' | translate }}</ion-title>
        <ion-buttons slot="start">
            <ion-button (click)="cancel()">
        <span color="primary" *ngIf="isIOS">
          {{ 'CANCEL_BUTTON' | translate }}
        </span>
                <ion-icon name="md-close" *ngIf="!isIOS"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button [disabled]="!form.checkValidity()" (click)="done()" strong>
        <span color="primary" *ngIf="isIOS">
          {{ 'DONE_BUTTON' | translate }}
        </span>
                <ion-icon name="md-checkmark" *ngIf="!isIOS"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="hive-card">
        <ion-card-content>
            <form name="form" #form>
                <ion-list>
                    <ion-item>
                        <ion-input name="name" pattern=".*\S+.*" required [(ngModel)]="hive.name" type="text"
                                   placeholder="{{ 'HIVE_NAME_PLACEHOLDER' | translate }}"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-input name="uniqueId" pattern="[A-Za-z0-9]{1,20}" required [(ngModel)]="hive.uniqueId"
                                   type="text" placeholder="{{ 'HIVE_UNIQUE_ID_PLACEHOLDER' | translate }}"></ion-input>
                    </ion-item>
                    <!--ion-item>
                        <ion-datetime no-margin no-padding name="queenInstalledDate" pickerFormat="DD MM YYYY"
                                      displayFormat="DD/MM/YYYY"
                                      [(ngModel)]="hive.attributes.queenInstalledDate"
                                      placeholder="{{ 'QUEEN_INSTALLED_DATE' | translate }}"></ion-datetime>
                    </ion-item-->
                </ion-list>
            </form>
        </ion-card-content>
    </ion-card>
</ion-content>
