<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{ hive.name }}</ion-title>
    <!--ion-title>{{ "HIVE_ON_MAP_TITLE" | translate }}</ion-title-->
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- {{currentPosition | json}}
{{hive | json}} -->
  <div style="height: 100%; width: 100%" id="map_canvas"></div>
</ion-content>
