<ion-tabs>
    <ion-tab-bar slot="bottom" color="light">
        <ion-tab-button tab="dashboard">
            <ion-icon name="analytics"></ion-icon>
            <ion-label>{{ 'DASHBOARD_TAB_LABEL' | translate }}</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="hives">
            <ion-icon src="assets/images/beehive.svg"></ion-icon>
            <ion-label>{{ 'HIVES_TAB_LABEL' | translate }}</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="settings">
            <ion-icon name="settings"></ion-icon>
            <ion-label>{{ 'SETTINGS_TAB_LABEL' | translate }}</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
