<ion-header>
    <ion-toolbar color="light">
        <ion-title>{{ 'HIVE_HEALTH' | translate }}</ion-title>
        <ion-buttons slot="start">
            <ion-back-button text=""></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="(position$ | async) || false; let position" fullscreen>
    <!-- Hive  and Position properties -->
    <ion-card no-padding no-margin class="hive-card hive-info">
        <ion-card-content>
            <ion-grid fixed="100">
                <ion-row>
                    <ion-col size="12">
                        <div class="title" >
                            <ion-card-title> {{ hive.name }}</ion-card-title>
                            <ion-card-subtitle class="subtitle">{{ hive.uniqueId }}</ion-card-subtitle>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="hive.lastUpdate">
                    <ion-col>
                        <span> {{ 'LAST_UPDATE' | translate }}</span>
                    </ion-col>
                    <ion-col text-end>
                        <span>{{hive.lastUpdate | age: currentLanguage }}</span>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="position.attributes && position.attributes.batteryLevel">
                    <ion-col>
                        <span>{{ 'BATTERY_LEVEL' | translate }}</span>
                    </ion-col>
                    <ion-col text-end>
                        <span> {{position.attributes.batteryLevel}}&nbsp;%</span>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="hive.attributes.queenInstalledDate">
                    <ion-col>
                        <span> {{ 'QUEEN_AGE' | translate }}</span>
                    </ion-col>
                    <ion-col text-end>
                        <span>{{hive.attributes.queenInstalledDate | age: currentLanguage }}</span>
                    </ion-col>
                </ion-row>
                <!--ion-row *ngIf="position.attributes && !position.attributes.motion">
                    <ion-col>
                        <span>{{ 'MOTION_STATUS' | translate }}</span>
                    </ion-col>
                    <ion-col text-end>
                        <span *ngIf="!position.attributes.motion">{{ 'HIVE_IS_STATIC' | translate }}</span>
                    </ion-col>
                </ion-row-->
            </ion-grid>
        </ion-card-content>
    </ion-card>

    <!--ion-card no-vertical-padding>
        <ion-card-content no-vertical-padding no-margin-top>
            <ion-list no-margin no-padding>
                <ion-item (click)="viewHiveExtras()" detail lines="none" >
                    <ion-avatar slot="start">
                        <ion-icon name="add-circle-outline" size="large" color="primary"></ion-icon>
                    </ion-avatar>
                    <ion-label>
                        <h3 class="extra-title"> {{ 'EXTRAS' | translate }} </h3>
                        <p>
                            {{ 'EXTRAS_SUBTITLE' | translate }}
                        </p>
                    </ion-label>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card-->

    <!-- Charts and alerts --->
    <ion-card no-vertical-padding class="hive-card">
        <ion-card-content no-vertical-padding>
            <ion-grid fixed="100" no-margin no-padding>
                <!--ion-row *ngIf="position.attributes && position.attributes.motion">
                    <ion-col>
                        <ion-button color="danger" expand="block" fill="outline" shape="round" size="small"
                                    style="text-transform: none">
                            <ion-icon name="warning" slot="start"></ion-icon>
                            <span>{{ 'ALERT_HIVE_MOVING'| translate }}&nbsp;</span>
                        </ion-button>
                    </ion-col>
                </ion-row-->
                <ion-row *ngIf="isTemperatureRed(position)">
                    <ion-col>
                        <ion-button color="danger" expand="block" fill="outline" shape="round" size="small"
                                    style="text-transform: none">
                            <ion-icon name="warning" slot="start"></ion-icon>
                            <span>{{ 'ALERT_TEMPERATURE_RED' | translate }}</span>
                        </ion-button>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="isTemperatureAmber(position)">
                    <ion-col>
                        <ion-button color="warning" expand="block" fill="outline" shape="round" size="small"
                                    style="text-transform: none">
                            <ion-icon name="warning" slot="start"></ion-icon>
                            <span> {{ 'ALERT_TEMPERATURE_AMBER' | translate }}</span>
                        </ion-button>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="isHumidityRed(position)">
                    <ion-col>
                        <ion-button color="danger" expand="block" fill="outline" shape="round" size="small"
                                    style="text-transform: none">
                            <ion-icon name="warning" slot="start"></ion-icon>
                            <span>{{ 'ALERT_HUMIDITY_RED'  | translate }}</span>
                        </ion-button>
                    </ion-col>
                </ion-row>

                <ion-row *ngIf="isHumidityAmber(position)">
                    <ion-col>
                        <ion-button color="warning" expand="block" fill="outline" shape="round" size="small"
                                    style="text-transform: none">
                            <ion-icon name="warning" slot="start"></ion-icon>
                            <span>{{ 'ALERT_HUMIDITY_AMBER' | translate }}</span>
                        </ion-button>
                    </ion-col>
                </ion-row>
                <ion-row margin-bottom>
                    <ion-col no-padding>
                        <div class="highcharts-wrapper">
                            <highcharts-chart
                                    [Highcharts]="Highcharts"
                                    [constructorType]="chartConstructor"
                                    [options]="temperatureOptions">
                            </highcharts-chart>
                        </div>
                    </ion-col>
                    <ion-col no-padding>
                        <div class="highcharts-wrapper">
                            <highcharts-chart
                                    [Highcharts]="Highcharts"
                                    [constructorType]="chartConstructor"
                                    [options]="humidityOptions">
                            </highcharts-chart>
                        </div>
                    </ion-col>
                </ion-row>
                <!--ion-row>
                    <ion-col size="6">
                        <ion-button (click)="viewHiveDataHistory()" color="light" expand="block" shape="round">
                            {{'VIEW_DATA_HISTORY_BUTTON' | translate }}
                        </ion-button>
                    </ion-col>
                    <ion-col size="12">
                        <ion-button (click)="viewOnMap()" color="light" expand="block" shape="round">
                            {{'VIEW_ON_MAP_BUTTON' | translate }}
                        </ion-button>
                    </ion-col>
                </ion-row-->
            </ion-grid>
        </ion-card-content>
    </ion-card>
    <div margin padding></div>
</ion-content>
