<ion-list>
    <ion-item (click)="select(lang.value)" *ngFor="let lang of languages" button detail="false">
        <img [src]="lang.img" alt="" class="langImage" slot="start"/>
        <ion-label text-wrap>{{ lang.text }}</ion-label>
        <ion-icon *ngIf="lang.value == selected" name="checkmark" slot="end"></ion-icon>
    </ion-item>
</ion-list>
