<ion-header>
    <ion-toolbar color="light">
        <ion-title>
            {{ 'DASHBOARD_TITLE' | translate }}
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content dir="ltr">
    <ion-grid margin-bottom padding-bottom>
        <ion-row *ngIf="hasPositions()">
            <ion-col size="12" no-margin no-padding>
                <google-chart *ngIf="loaderService.doneLoading"
                              title="{{ 'HIVES_TEMPERATURE_TITLE' | translate  }}"
                              [data]="chartsDataTemp"
                              [dynamicResize]="true"
                              [options]="options"
                              [height]="chartHeight"
                              [type]="type">
                </google-chart>
            </ion-col>
        </ion-row>
        <ion-row margin-top  *ngIf="hasPositions()">
            <ion-col size="12" no-margin no-padding>
                <google-chart *ngIf="loaderService.doneLoading"
                              title="{{ 'HIVES_HUMIDITY_TITLE' | translate  }}"
                              [data]="chartsDataHumid"
                              [dynamicResize]="true"
                              [options]="options"
                              [height]="chartHeight"
                              [type]="type">
                </google-chart>
            </ion-col>
        </ion-row>
        <ion-row margin padding *ngIf="loaderService.doneLoading && !hasPositions()">
            <ion-col>
                <ion-button color="success" expand="block" fill="outline" shape="round">
                    <ion-icon name="information-circle-outline" slot="start"></ion-icon>
                    <span>{{ 'NO_LAST_UPDATE'  | translate }}&nbsp;</span>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div margin padding></div>
  <!-- {{positions | json}}  {{hives |  json}} -->
</ion-content>


