<ion-header>
    <ion-toolbar color="light">
        <ion-title>{{ 'VIEW_EXTRAS_TITLE' | translate }}</ion-title>
        <ion-buttons slot="start">
            <ion-back-button text=""></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card no-vertical-padding class="hive-card hive-info">
        <ion-card-content>
            <ion-grid fixed="100">
                <ion-row>
                    <ion-col size="12">
                        <div class="title">
                            <ion-card-title> {{ hive.name }}</ion-card-title>
                            <ion-card-subtitle class="subtitle">{{ hive.uniqueId }}</ion-card-subtitle>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-item-group>
                <ion-item-divider>{{'QUEEN_INSTALLED_DATE' | translate}} </ion-item-divider>
                <ion-item>
                    <ion-datetime no-margin no-padding name="queenInstalledDate" pickerFormat="DD MM YYYY"
                                  displayFormat="DD/MM/YYYY"
                                  [(ngModel)]="hive.attributes.queenInstalledDate"
                                  placeholder="{{ 'ADD_DATE_LABEL' | translate }}"></ion-datetime>
                </ion-item>
            </ion-item-group>
            <ion-item-group>
                <ion-item-divider>{{'DEVICE_PHONE_NUMBER_LABEL' | translate}}</ion-item-divider>
                <ion-item>
                    <ion-input no-margin no-padding name="phone"
                               type="tel" pattern="^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$"
                               #phone="ngModel" [(ngModel)]="hive.phone"
                               placeholder="{{ 'ADD_DEVICE_PHONE_NUMBER_LABEL' | translate }}"></ion-input>
                </ion-item>
                <div class="validation-errors">
                    <ng-container *ngIf="phone.invalid && phone.dirty && phone.touched">
                        <div class="error-message">
                            <p>{{ 'INVALID_PHONE' | translate}}</p>
                        </div>
                    </ng-container>
                </div>
            </ion-item-group>
            <ion-item-group>
                <ion-item-divider>{{'NOTES_LABEL' | translate}}</ion-item-divider>
                <ion-item>
                    <ion-textarea auto-grow placeholder="{{'ADD_NOTES_LABEL' | translate}}"
                                  [(ngModel)]="hive.attributes.notes"></ion-textarea>
                </ion-item>
            </ion-item-group>
            <div padding>
                <ion-button (click)="updateHive()" color="primary" [disabled]="phone.invalid" expand="block" round slot="end">
                    {{ 'UPDATE' | translate }}
                </ion-button>
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>
