/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";
/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';
/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.validation-errors {
  color: red;
}

.error-message {
}

.title {
  font-weight: 500;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 80%;
  margin-top: 0;
  margin-left: 2px;
  text-transform: none;
  font-weight: 400;
}

.hive-title {
  font-weight: bold;
}

.hive-card {
  margin: 0;
  box-shadow: none;
}

.subtext {
  font-size: 80%;
   margin-top: 0;
}
.no-vertical-padding, [no-vertical-padding] {
  --padding-top: 0;
  --padding-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.no-vertical-margin, [no-vertical-margin] {
  --margin-top: 0;
  --margin-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.no-margin-top, [no-margin-top] {
  --margin-top: 0;
  margin-top: 0;
}
