<ion-header>
    <ion-toolbar color="light">
        <ion-title>
            {{ 'SETTINGS_TITLE' | translate }}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="hive-card" no-margin no-padding>
        <ion-card-content>
            <ion-list>
                <ion-item>
                    <ion-icon class="person-icon" color="primary" name="person"></ion-icon>
                    <ion-label>
                        <div class="title" margin-start>
                            <ion-card-title>{{ user?.name }}</ion-card-title>
                            <ion-card-subtitle class="subtitle">{{user?.email}}</ion-card-subtitle>
                        </div>
                    </ion-label>
                </ion-item>
                <ion-item detail routerLink="/tabs/settings/account">
                    <ion-icon color="primary" name="key" slot="start"></ion-icon>
                    <ion-label>
                        <h3 class="hive-title">{{ 'ACCOUNT_LABEL' | translate }}</h3>
                        <p class="subtext" style="font-size: 80%">
                            <span>{{ 'NAME' | translate }}&#44;</span>
                            <span>&nbsp;{{ 'EMAIL' | translate }}&#44;</span>
                            <span>&nbsp;{{ 'PASSWORD' | translate }}&#44;</span>
                            <span>&nbsp;{{ 'LOGOUT_LABEL' | translate }}</span>
                        </p>
                    </ion-label>
                </ion-item>
                <!--ion-item (click)="openLanguage($event)" detail>
                    <ion-icon color="primary" name="globe" slot="start"></ion-icon>
                    <ion-label> {{ 'SELECT_LANGUAGE' |  translate }} </ion-label>
                </ion-item-->
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>
